<table class="w-full font-sans">
    <tr>
      <td class="text-center text-gray-600 text-xs px-24">
        <p class="m-0 mb-4 uppercase">Powered by
          <a href="https://mailpace.com/" class="text-blue-500 no-underline hover:underline">Instap</a>
        </p>
        <p class="m-0 italic">Rozwijaj swój biznes z Polecam!</p>
        <p class="cursor-default">
          <a href="https://www.polec.am/" class="text-blue-500 no-underline hover:underline">Polec.am</a> &bull;
          <a href="https://rosapp.com" class="text-blue-500 no-underline hover:underline">Rosmedia</a> &bull;
          <a href="https://instap.app" class="text-blue-500 no-underline hover:underline">Instap</a>
        </p>
      </td>
    </tr>
</table>