<table class="pt-24 w-600 sm:w-full" align="center" style="width: 500px; background: linear-gradient(to right, #000000, #2d2d2d);">
    <tr>
        <td>
            <a href="https://mailpace.com" style="text-align: center;">
                <img style="position: relative; left: 50%; transform: translateX(-50%);" src="https://polec.am/svg/logo_polec_am_curves_white.svg" width="175" alt="Polec.am">
            </a>
        </td>
    </tr>
    <tr>
      <td class="pt-48 text-center">
        <a href="https://mailpace.com">
          <img src="images/koperta_zolta.png" width="200" alt="Polec.am">
        </a>
      </td>
    </tr>
  </table>
  